body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(194, 192, 192);
    
}

.conteiner-login {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


.card-login {
    display: grid;
    grid-template-columns: auto ;
    place-items: center;
    top: 50%;
    text-align: center;
    background-color:rgb(209, 208, 208) ;
    padding: 60px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
    background-color:rgb(209, 208, 208) ; 
}

.input-login {
    margin: 5px;
    text-align: center;
    width: 250px;
    height: 60px;
    background-color: whitesmoke;
    border-radius: 10px;

}

h1 {
    background-color:rgb(209, 208, 208) ;
        color: black;
}

.logar-link {
        display: inline-block;  
        margin: 15px;
        padding: 25px 107px;     
        background-color: #464545; 
        color: white;           
        text-align: center;     
        text-decoration: none;  
        border-radius: 5px;     
        font-size: 16px;  
        transition: 0.8s ease;      
      
}

.logar-link:hover {
    transform: translateY(-6px);
  }
